/*===============================================*/
/* MAIN COLOR */
/*===============================================*/	
a, blockquote span {
color: #B80000;
}
a.button_full, a.button_small, .call_button a{
background-color:#B80000; 
}
.button {
border: 1px solid #B80000;
color: #B80000;
}
.button.active {
background: #B80000;
}
#pages_maincontent h3{
color:#B80000;
}
.photo-categories a.active{
background-color:#B80000;
}
.post_date{
color:#B80000;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
background: #B80000;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{ 
background-color:#B80000;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/	
.homepage{
background: url(../../images/colors/moon15/bg.jpg) no-repeat center center;
background-attachment:fixed;
-webkit-background-size: 100%; 
-moz-background-size: 100%;
-o-background-size: 100%;
background-size: 100%;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover; 
background-size: cover;
}
.navbarpages{
background:url(../../images/colors/moon15/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/	
.main-nav ul li{
background: #562037;
border-bottom:1px #692c46 solid;
}
.main-nav ul li a{
color:#c6a0b1;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/	
.popup, .page_content_menu{
background: #49182d;
}
.popup-login, .popup-signup, .popup-forgot{
background-color:#263239;
}
.toolbar:before {
  background-color: #49182d;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/	
.panel {
background:#873a48;
}
.user-nav ul li, ul.popular_posts li{
border-bottom:1px #9b4d5b solid;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
background-color:#873a48;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
background-color:#873a48;
}