/*==============================================
[Main stylesheet style.css]

Author:	SINDEVO.COM - Smart Internet Development
Version:	2.0
Created:	10 April 2015
Last updated:	02 July 2015
Template:	Mobix - Mobile Web APP Template
================================================*/
/*
[Table of Contents]

1. RESET
2. GENERAL
3. CUSTOM BUTTONS
4. LEFT AND RIGHT SLIDE PANELS
    4-1. LEFT SLIDE PANEL
	4-2. RIGHT SLIDE PANEL
5. MAIN NAVIGATION POPUP AND FOOTER TOOLBAR
	5-1. MAIN NAVIGATION
	5-2. FOOTER TOOLBAR
6. HOME PAGE LAYOUT
    6-1. HOME PAGE WITH SLIDER
7. PAGES LAYOUT
    7-1. PAGES HEADER
8. FEATURED LISTS
9. POPUPS
10. PHOTO GALLERY
11. BLOG LAYOUT
12. FORMS
	12-1. CONTACT FORM
	12-2. LOGIN / SIGNUP / FORGOT PASS FORM
	12-3. COMMENT FORM
13. TABS & ACCORDION
14. MEDIA QUERIES
    - @media screen and (max-width: 480px)
*/
/*===============================================*/
/* 1. RESET		 						 */
/*===============================================*/
@import "css/reset.css";

/*===============================================*/
/* 2. GENERAL		 						 */
/*===============================================*/	
html,
body {
position: relative;
height: 100%;
width: 100%;
overflow-x: hidden;
}
body {
font-family: 'Source Sans Pro', sans-serif;
margin: 0;
padding: 0;
color: #232323;
font-size: 14px;
line-height: 1.4;
width: 100%;
-webkit-text-size-adjust: 100%;
overflow: hidden;
font-weight:300;
}
.clear{ 
clear:both; 
display:block;
}
.clearleft{ 
clear:both; 
float:left; 
display:block;
}
a {
text-decoration: none;
}
p{
padding:0px;
margin:0px;
line-height:20px;
}
blockquote{
padding:0 0 15px 0;
margin:5px 0 15px 0;
font-size:18px;
border-bottom:3px solid #ececec;
line-height:22px;
font-weight:300;
}
blockquote span{
display:block;
font-weight:700;
font-size:14px;
text-transform:uppercase;
line-height:22px;
}
.videocontainer{
max-width:100%; 
padding:0; 
display: block; 
margin:0;
}
#mobile_wrap{
max-width:1024px;
margin:auto;
}
/*===============================================*/
/* 3. CUSTOM BUTTONS */
/*===============================================*/	
a.button_full{
width:100%;
display:inline-block;
color:#FFFFFF; 
padding:10px 0;
margin:0 0 20px 0;
font-size:18px;
text-align:center;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
a.button_small{ 
display:inline-block;
color:#FFFFFF; 
padding:10px 20px;
text-align:center;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.call_button a{
display:block;
width:100%;
margin:0;
padding:10px 0;
text-align:center;
color:#FFFFFF;
font-size:20px;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
}
.button {
text-decoration: none;
text-align: center;
display: block;
border-radius: 5px;
line-height: 38px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
-webkit-appearance: none;
-moz-appearance: none;
-ms-appearance: none;
appearance: none;
background: none;
padding: 0 10px;
margin: 0;
height:40px;
white-space: nowrap;
position: relative;
overflow: hidden;
text-overflow: ellipsis;
font-size: 14px;
font-family: inherit;
cursor: pointer;
}
.button.active {
color: #fff;
}
/*===============================================*/
/* 4. LEFT AND RIGHT SLIDE PANELS */
/*===============================================*/	
.panel {
z-index: 1000;
display: none;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
overflow: auto;
-webkit-overflow-scrolling: touch;
position: absolute;
width: 280px;
top: 0;
height: 100%;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
-webkit-transition-duration: 400ms;
transition-duration: 400ms;
color:#FFFFFF;
}
.content-block {
margin: 35px 0;
padding: 0 15px;
}
.content-block-login{
margin:20px 0;
padding: 0 15px;
}

/* 4-1. LEFT SLIDE PANEL */
.user_login_info{
padding:0px;
}
.user_thumb{
width:100%;
margin:auto;
position:relative;
}
.user_thumb img{
display:block;
max-width:100%;
z-index:777;
}
.user_details{
position:absolute;
bottom:0px;
left:0px;
width:100%;
height:132px;
z-index:888;
background:url(images/trans_black_gradient.png) repeat-x;
}
.user_details p{
padding:70px 0 0 10px;
text-align:left;
font-size:14px;
}
.user_details p span{
display:block;
font-size:22px;
padding:5px 0 0 0;
}
.user_social{
z-index:999;
position:absolute;
bottom:20px;
right:15px;
width:30px;
}
.user_social img{
display:block;
max-width:100%;
margin:10px 0 0 0;
}
.user-nav{
padding:20px 0 0 0px;
width:100%;
}
.user-nav ul{
width:100%;
list-style:none;
padding:0px;
margin:0px;
display:block;
}
.user-nav ul li{
width:90%;
list-style:none;
padding:5px 0 10px 0;
margin:0 0 0 5%;
display:inline-block;
text-align:center;
}
.user-nav ul li img{
display:inline-block;
max-width:10%;
float:left;
}
.user-nav ul li span{
display:block;
float:left;
text-align:left;
padding:5px 0 0 20px;
}
.user-nav ul li strong{
display:block;
float:right;
text-align:left;
margin:0 10px 0 0;
width:30px;
height:20px;
text-align:center;
-webkit-border-radius:15px;-moz-border-radius:15px;border-radius:15px;
}
strong.green{
background-color:#837f07;
}
strong.blue{
background-color:#077c83;
}
.user-nav ul li a{
color:#fff;
font-size:14px;
font-weight:300;
}

/* 4-2. RIGHT SLIDE PANEL */

.panel-right h2{
width:90%;
margin:0 5%;
padding:10px 0 10px 0;
font-size:30px;
font-weight:300;
}
.panel-right h3{
width:90%;
margin:0 5%;
padding:30px 0 10px 0;
font-size:18px;
font-weight:400;
}
.search_form{
width:90%;
margin:0 5%;
}
input.search_input{
width:80%;
padding:10px 0;
background:none;
border-bottom:1px #fff solid;
border-left:none;
border-top:none;
border-right:none;
color:#FFFFFF;
float:left;
}
input.search_submit{
width:15%;
margin:0 0 0 5%;
float:left;
}
input.search_submit img{
display:inline-block;
max-width:50%;
}
ul.popular_posts{
width:90%;
margin:0 5%;
float:left;
clear:both;
padding:0px 0 20px 0;
list-style:none;
}
ul.popular_posts li{
width:100%;
padding:10px 0;
margin:0px;
float:left;
clear:both;
list-style:none;
}
ul.popular_posts li a img{
float:left;
display:inline-block;
width:20%;
}
ul.popular_posts li span{
width:75%;
float:left;
padding:0 0 0 5%;
display:inline-block;
}
ul.popular_posts li a{
color:#FFFFFF;
}

/*===============================================*/
/* 5. MAIN NAVIGATION POPUP AND FOOTER TOOLBAR */
/*===============================================*/
/* 5-1. MAIN NAVIGATION */

.main-nav{
padding:40px 0 0 0px;
width:100%;
}
.main-nav ul{
width:100%;
list-style:none;
padding:0px;
margin:0px;
display:block;
}
.main-nav ul li{
width:28%;
list-style:none;
padding:15px 0;
margin:2%;
display:inline-block;
text-align:center;
}
.main-nav ul li img{
display:inline-block;
max-width:40%;
}
.main-nav ul li span{
display:block;
text-align:center;
padding:5px 0 0 0;
}
.main-nav ul li a{
font-size:13px;
font-weight:300;
}

/*5-2. FOOTER TOOLBAR */

.toolbar-inner{
  position: absolute;
  left: 0;
  top: -5px;
  z-index:99999;
  width: 100%;
  height: 100%;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.toolbar:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 125px;
  width: 100%;
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  opacity:1;
}
.toolbar {
height: 100px;
}
ul.toolbar_icons{
list-style:none;
padding:0px;
margin:0px;
display: inline-block;
text-align:center; 
width:100%;
}
ul.toolbar_icons li{
list-style:none;
padding:0;
display: inline-block;
text-align:center; 
width:14%; margin:0 1%;
}
ul.toolbar_icons li.menuicon{
list-style:none;
padding:5.5% 1%;
display: inline-block;
text-align:center; 
width:20%; margin:0 1%;
-webkit-border-radius:250px;-moz-border-radius:250px;border-radius:250px;
}
ul.toolbar_icons li img{
max-width:65%;
margin:20px 0 0 0;
}
ul.toolbar_icons li.menuicon img{
max-width:60%;
}

/*===============================================*/
/* 6. HOME PAGE LAYOUT */
/*===============================================*/

.logo{
width:100%;
height:100%;
text-align:center;
}
.logo img{
max-width:50%;
display:inline-block;
margin: auto;
position: absolute;
top: 0; left: 0; bottom:100px; right: 0;
}

/* 6-1. HOME PAGE WITH SLIDER */

.swiper-container {
height: 100%;
}
.swiper-slide {
width:100%;
text-align:center;
padding:0 0 0 0;
}
.slider_logo img{
max-width:50%;
}
.swiper-slide span{
text-align:center;
display:block;
margin:120px 0 10px 0;
font-size:80px;
line-height:20px;
font-weight:900;
letter-spacing:-1px;
color:#fff;
line-height:80px;
} 
.swiper-slide span.subtitle{
margin:0px 0 10px 0;
font-size:40px;
font-weight:300;
letter-spacing:0px;
color:#fff;
line-height:40px;
} 
.swiper-pagination-bullet-active {
opacity: 1;
background: #fff;
}
a.swiper_read_more{
color:#fff;
border:1px solid #fff;
padding:20px 30px;
text-decoration:none;
margin:20px 0 0 0;
display:inline-block;
font-size:20px;
}

/*===============================================*/
/* 7. PAGES LAYOUT */
/*===============================================*/

#pages_maincontent{
width:100%;
padding:0px 0 30px 0;
margin:0px;
position: absolute; 
top: 70px; 
left: 0; 
right: 0; 
bottom: 0px;
overflow: scroll; 
-webkit-overflow-scrolling: touch;
}
.page_content{
width:90%;
padding:0 5%;
margin:10px 0 20px 0;
}
.page_content_menu{
width:90%;
min-height:100%;
padding:10px 5%;
margin:0;
}
h2.page_title{
width:90%;
padding:10px 5%;
font-size:24px;
font-weight:300;
margin:0;
display:inline-block;
letter-spacing:-0.5px;
background-color:#ececec;
color:#222222;
}
h2.page_subtitle{
font-size:22px;
line-height:25px;
font-weight:300;
padding:0 0 10px 0;
margin:20px 0 10px 0;
display:inline-block;
letter-spacing:-0.5px;
}
#pages_maincontent h3{
font-size:16px;
font-weight:700;
margin:5px 0 20px 0;
display:block;
clear:both;
}
#pages_maincontent p{
padding:0 0 15px 0;
margin:0px;
clear:both;
}
.page_content img{
display:block;
max-width:100%;
margin:0 0 20px 0;
}
.page_content ul.simple_list{
padding:0px 0 20px 10px;
margin:0px;
list-style:none;
}
.page_content ul.simple_list li{
margin:0 0 10px 0;
padding:0 0 0 20px;
background:url(images/bullet.png) no-repeat left;
}

/* 7-1. PAGES HEADER */
.navbarpages{
position: fixed;
top:0;
left:0;
width:100%;
height:70px;
}
.nav_left_logo{
float:left;
width:40%;
padding:0 0 0 5%;
}
.nav_left_logo a img{
display:inline-block;
max-width:30%;
padding:10px 0 0 0;
}
.nav_right_button{
float:right;
width:50%;
text-align:right;
}
.nav_right_button a{
display:block;
float:right;
width:40px;
padding:10px 15px 0 0;
}
.nav_right_button a img{
display:inline-block;
max-width:100%;
padding:0;
}

/*===============================================*/
/* 8. FEATURED LISTS */
/*===============================================*/	
ul.features_list{
padding:0 0 20px 0;
width:100%;
margin:0px;
list-style:none;
float:left;
clear:both;
}
ul.features_list li{
border-bottom:1px #e6e6e6 solid;
padding:5px 2% 10px 2%;
margin:5px 0;
display:block;
width:96%;
float:left;
clear:both;
}
ul.features_list li img{
display:inline-block;
max-width:10%;
float:left;
margin:0px;
}
ul.features_list li span{
display:inline-block;
max-width:90%;
padding:5px 0 0 5%;
font-weight:700;
float:left;
}


ul.features_list_detailed{
padding:10px 0 30px 0;
width:100%;
margin:0px;
list-style:none;
float:left;
clear:both;
}
ul.features_list_detailed li{
padding:5px 0 10px 0;
margin:0 0 10px 0;
display:block;
width:100%;
float:left;
clear:both;
border-bottom:1px #ddd solid;
}
ul.features_list_detailed li .feat_small_icon{
width:15%;
float:left;
}
ul.features_list_detailed li .feat_small_details{
width:65%;
float:left;
padding:0 0 0 3%;
}
ul.features_list_detailed li .view_more{
width:10%;
float:left;
margin:25px 0 0 5%;
}
ul.features_list_detailed li .view_more img{
display:block;
max-width:100%;
}
ul.features_list_detailed li .feat_small_details p{
padding:0 0 10px 0;
}
ul.features_list_detailed li .feat_small_details a{
color:#232323;
}
ul.features_list_detailed li .feat_small_icon img{
display:inline-block;
max-width:90%;
}
ul.features_list_detailed li .feat_small_details h4{
font-weight:700;
font-size:18px;
padding:0 0 5px 0;
margin:0px;
}

/*===============================================*/
/* 9. POPUPS */
/*===============================================*/	
.popup{
color:#FFFFFF;
}
.popup h4{
color:#FFFFFF;
font-size:28px;
font-weight:700;
text-align:center;
padding:0 0 10px 0;
margin:0px;
}
.popup p{
color:#FFFFFF;
text-align:center;
padding:0px 0 20px 0;
margin:0px;
font-size:14px;
}
.popup-social h4{
padding-top:40px;
}
.popup-login h4, .popup-signup h4, .popup-forgot h4{
color:#FFFFFF;
font-size:18px;
font-weight:700;
text-align:center;
padding:0 0 10px 0;
margin:0px;
}
ul.social_share{
list-style:none;
padding:0px;
margin:0px;
}
ul.social_share li{
width:32%;
text-align:center;
display:inline-block;
padding:10px 0;
margin:0px;
}

.close_popup_button{
width:88%;
text-align:center;
margin:auto;
display:inline-block;
}
.close_popup_button a{
display:inline-block;
width:60px;
height:60px;
margin:auto;
padding:0;
text-align:center;
position:absolute;
top:-20px;
left:44%;
-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;
}
.close_popup_button a img{
display:block;
max-width:60%;
margin:15px auto auto auto; 
}

.close_loginpopup_button{
display:block;
}
.close_loginpopup_button a{
display:inline-block;
width:60px;
height:60px;
margin:auto;
padding:0;
text-align:center;
position:absolute;
top:10px;
right:0px;
}
.close_loginpopup_button a img{
display:block;
max-width:60%;
margin:auto; 
}

/*===============================================*/
/* 10. PHOTO GALLERY */
/*===============================================*/
.switch_button{
display:block;
float:left;
}
.switch_button a{
display:block;
width:23px;
height:23px;
}
.switch13{
background:url(images/switch_13.png) no-repeat center;
}
.switch12{
background:url(images/switch_12.png) no-repeat center;
}
.switch11{
background:url(images/switch_11.png) no-repeat center;
}
.page_title_photos{
width:90%;
float:left;
clear:both;
padding:10px 5%;
margin:0;
display:inline-block;
background-color:#ececec;
}
.page_title_photos h2{
float:left;
font-size:24px;
font-weight:300;
color:#222222;
letter-spacing:-0.5px;
}
.gallery_switch{
float:right;
margin:5px 0 0 0;
}
.gallery_switch a{
display:block;
float:left;
padding:0 5px;
}
ul.photo_gallery_13{ 
width:100%; 
list-style:none; 
padding:0px; 
margin:10px 0 20px 0; 
float:left; 
clear:both;
}
ul.photo_gallery_13 li{ 
width:31%; 
padding:0; 
float:left; 
margin:1%;
}
ul.photo_gallery_13 li img{ 
max-width:100%; 
display:block; 
}
ul.photo_gallery_12{ 
width:100%; 
list-style:none; 
padding:0px; 
margin:10px 0 10px 0; 
float:left; 
clear:both;
}
ul.photo_gallery_12 li{ 
width:48%; 
padding:0; 
float:left;  
margin:1%;
}
ul.photo_gallery_12 li img{ 
max-width:100%; 
display:block;
}
ul.photo_gallery_11{ 
width:100%; 
list-style:none; 
padding:0px; 
margin:10px 0 10px 0; 
float:left; 
clear:both;
}
ul.photo_gallery_11 li{ 
width:100%; 
padding:0; 
float:left; 
margin:0px 0 10px 0;
}
ul.photo_gallery_11 li img{
max-width:100%; 
display:block;
}
.photo-categories{
width:100%;
padding:0;
font-size:14px;
font-weight:300;
margin:0;
display:block;
}
.photo-categories a{
width:31%;
margin:1%;
display:block;
float:left;
text-align:center;
padding:10px 0;
background-color:#f2f0f0;
}
.photo-categories a.active{
color:#FFFFFF;
}
/*===============================================*/
/* 11. BLOG LAYOUT */
/*===============================================*/	
ul.posts{
padding:0px;
margin:0px;
list-style:none;
width:100%;
}
ul.posts li{
padding:20px 0;
margin:0px;
float:left;
clear:both;
list-style:none;
width:100%;
border-bottom:3px #ececec solid;
}
.post_date{
float:left;
width:10%;
text-align:center;
}
span.day{
font-size:55px;
font-weight:700;
line-height:30px;
}
span.month{
font-size:20px;
font-weight:300;
line-height:10px;
}
.post_title{
width:80%;
float:left;
margin:0 0 0 10%;
}
.post_title h2{
font-size:24px;
line-height:26px;
font-weight:300;
margin:0px 0 10px 0;
padding:0px;
}
.post_title h2 a{
color:#333333;
}


.list-block {
margin:0px 0;
}
.list-block li{
border-bottom:1px #ddd solid;
padding:10px 0 10px 0;
margin:0 0 20px 0;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
padding:0 30px;
margin:0 0 0 20px;
color: #fff;
text-align:center;
}
.post_thumb{
width:100%;
}
.post_thumb img{
display:inline-block;
max-width:100%;
}


.post_details span, .post_single span{
display:inline-block;
padding:0 5px;
}
.post_details span.post_comments, .post_single span.post_comments{
background:url(images/comments.png) no-repeat right;
padding:0 20px 0 0;
}
#loadMore{
display:inline-block;
margin:15px auto;
padding:0;
text-align:center;
width:100%;
cursor:pointer;
}
#loadMore img{
margin:auto;
max-width:20%;
display:inline-block;
}
#showLess{
display:none;
margin:15px auto;
padding:0;
text-align:center;
width:100%;
cursor:pointer;
}
#showLess img{
margin:auto;
max-width:20%;
display:inline-block;
}
.post_single{
}
.entry{
padding:20px 0 0 0;
}
.entry p{
line-height:22px;
}
.featured_image{
width:100%;
margin:auto;
position:relative;
}
.featured_image img{
display:block;
max-width:100%;
z-index:777;
}
.post_title_single{
position:absolute;
bottom:0px;
left:0px;
width:100%;
height:auto;
z-index:888;
background:url(images/trans_black_gradient.png) repeat-x;
}
.post_title_single h2{
color:#FFFFFF;
font-size:34px;
padding:25px;
font-weight:300;
line-height:38px;
}
.post_social{
z-index:999;
position:absolute;
top:15px;
right:15px;
width:30px;
}
.post_social img{
display:block;
max-width:100%;
margin:10px 0 0 0;
}
.post_author{
z-index:999;
position:absolute;
top:15px;
left:15px;
width:50px;
}
.post_author img{
display:block;
max-width:100%;
margin:10px 0 0 0;
-webkit-border-radius:50px;-moz-border-radius:50px;border-radius:50px
}

ul.comments{
list-style:none;
padding:0px;
margin:0px;
width:100%;
}
ul.comments li{
list-style:none;
float:left;
clear:both;
width:90%;
padding:5% 5% 0 5%;
margin:0px 0 10px 0;
background-color:#f5f3eb;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px
}
.comm_avatar{
width:15%;
display:inline-block;
float:left;
}
.comm_avatar img{
display:inline-block;
max-width:100%;
}
.comm_content{
width:80%;
float:left;
display:inline-block;
padding:0 0 0 5%;
}
.comm_content p{
padding:0px;
margin:0px;
font-style:italic;
}


/*===============================================*/
/* 12. FORMS */
/*===============================================*/	
/* 12.1 CONTACT FORM */
.contactform{
width:100%;
padding:0 0 15px 0;
}
.contactform label{
width:100%;
padding:5px 0 3px 0; 
display:block; 
font-size:16px;
font-weight:700;
}
.contactform .item-content{
padding:5px 0 5px 20px;
margin:0px;
}
.contactform label .item-media{
display:inline-block;
}
.contactform label .item-inner{
display:inline-block;
}
.contactform label.label-switch{
display:inline-block;
width:auto;
}
.contactform .item-title{
width:auto;
padding:0; 
display:inline-block; 
font-size:14px;
font-weight:300;
}
.contactform label .item-title{
width:auto;
padding:0; 
display:inline-block; 
font-size:14px;
font-weight:300;
}

.contactform .item-input{
display:inline-block;
width:auto;
margin:0 0 0 10px;
}
.contactform label.error{
padding:0 0 10px 0; 
width:100%; 
text-align:left; 
font-size:14px;
color:#f65821;
font-weight:400;
}
.contactform input.form_input{
padding:3%; 
width:93%; 
margin:0 0 5px 0;
border:1px solid #ddd;
-webkit-appearance: none;
}
.contactform .form_select{
padding:2% 3%; 
width:100%; 
margin:0 0 5px 0;
border:1px solid #ddd;
-webkit-appearance: none;
background:url(images/dropdown.png) no-repeat right;
}
.contactform .form_select option{
padding:5px;
}
.contactform textarea.form_textarea{
padding:3%; 
width:93%; 
height:50px; 
margin:0 0 5px 0;
border:1px solid #ddd;
-webkit-appearance: none;
}
.contactform input.form_submit{ 
width:100%;
padding:4% 0 4% 0; 
margin:10px 0 0 0; 
font-weight:normal;
text-align:center;
cursor:pointer; 
font-size:20px;
color:#FFFFFF;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
border: none;
cursor:pointer;
-webkit-appearance: none;
}

/* 12-2. LOGIN / SIGNUP / FORGOT PASS FORM */
.form_logo{
width:100%;
text-align:center;
opacity: 0.5;
margin:30px 0;
}
.form_logo img{
max-width:50%;
display:inline-block;
margin:auto;
}

.loginform{
width:90%;
padding:0 0 15px 5%;
}
.loginform label.error{
padding:0 0 10px 0; 
width:100%; 
text-align:left; 
font-size:14px;
color:#f65821;
font-weight:400;
}
.loginform input.form_input{
padding:10px 3%; 
width:93%; 
margin:0 0 15px 0;
border:1px solid #45535d;
background-color:#35434c;
color:#b7bec2;
}
.loginform input.form_submit{ 
width:100%;
padding:10px 0; 
margin:15px 0 0 0; 
font-weight:normal;
text-align:center;
cursor:pointer; 
font-size:18px;
color:#FFFFFF;
-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
border: none;
cursor:pointer;
}
.forgot_pass{
width:100%;
text-align:right;
}
.forgot_pass a{
color:#FFFFFF;
opacity: 0.5;
}
.signup_bottom{
width:100%;
text-align:center;
padding:30px 0 0 0;
}
.signup_bottom p{
opacity: 0.5;
padding:0px;
}
.signup_bottom a{
color:#FFFFFF;
font-weight:700;
}
.signup_social{
width:100%;
text-align:center;
padding:20px 0 0 0;
}
a.signup_facebook{
background-color:#38579a;
-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
width:47%;
display:inline-block;
padding:10px 0;
margin:0 4% 0 0;
color:#FFFFFF;
font-size:12px;
font-weight:700;
}
a.signup_twitter{
background-color:#0cacea;
-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;
width:47%;
padding:10px 0;
display:inline-block;
color:#FFFFFF;
font-size:12px;
font-weight:700;
}
/* 12.3 COMMENT FORM */

.commentform{
width:100%;
padding:0 0 15px 0;
}
.commentform label{
width:100%;
padding:5px 0 3px 0; 
display:block; 
font-size:16px;
font-weight:700;
}
.commentform label.error{
padding:0 0 10px 0; 
width:100%; 
text-align:left; 
font-size:14px;
color:#f65821;
font-weight:400;
}
.commentform input.form_input{
padding:3%; 
width:93%; 
margin:0 0 5px 0;
border:1px solid #ddd;
}
.commentform textarea.form_textarea{
padding:3%; 
width:93%; 
height:50px; 
margin:0 0 5px 0;
border:1px solid #ddd;
}
.commentform input.form_submit{ 
width:100%;
padding:4% 0 4% 0; 
margin:10px 0 0 0; 
font-weight:normal;
text-align:center;
cursor:pointer; 
font-size:20px;
color:#FFFFFF;
-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
border: none;
cursor:pointer;
}
.contact_info{
padding:0 0 15px 0;
margin:5px 0 15px 0;
font-size:14px;
border-bottom:3px solid #ececec;
line-height:22px;
font-weight:300;
}
/*===============================================*/
/* 13. TABS & ACCORDION */
/*===============================================*/	
.tabs-animated-wrap, .tabs-simple{
position: relative;
width: 100%;
overflow: hidden;
height: auto;
margin:20px 0 0 0;
}
.photos_tabs{
margin-top:0px;
}
.tab h4{
padding:0 0 10px 0;
margin:0px;
font-size:16px;
}
.custom-accordion{
padding:0;
}
.custom-accordion .accordion-item-toggle{
padding:0px 0px;
height:44px;
line-height:44px;
font-size:17px;
cursor:pointer;
}
.custom-accordion .accordion-item-toggle:active{
background:rgba(0,0,0,0.15);
}
.custom-accordion .accordion-item-toggle span{
display:inline-block;
margin-left:15px;
}
.custom-accordion .icon-plus,.custom-accordion .icon-minus{
display:inline-block;
width:22px;
height:22px;
border:1px solid #000;
border-radius:100%;
line-height:20px;
text-align:center;
}
.custom-accordion .icon-minus{
display:none;
}
.custom-accordion .accordion-item-expanded .icon-minus{
display:inline-block;
}
.custom-accordion .accordion-item-expanded .icon-plus{
display:none;
}
.custom-accordion .accordion-item-content{
padding:0px 15px;
}
/*===============================================*/
/* 14. MEDIA QUERIES */
/*===============================================*/
@media screen and (max-width: 680px) {
.swiper-slide span{
margin:0 0 10px 0;
padding:70px 0 0 0;
font-size:55px;
line-height:60px;
} 
.swiper-slide span.subtitle{
margin:0px 0 10px 0;
font-size:22px;
line-height:22px;
} 
a.swiper_read_more{
padding:10px 20px;
margin:20px 0 0 0;
font-size:16px;
}
}	
@media screen and (max-width: 480px) {
.toolbar {
height: 55px;
}
ul.toolbar_icons li img{
margin:5px 0 0 0;
}
ul.toolbar_icons li.menuicon{
padding:3.5% 1%;
margin:0 1%;
}
.close_popup_button a{
left:40%;
}
.swiper-container {
height: 95%;
}
.swiper-slide span{
margin:0 0 10px 0;
padding:70px 0 0 0;
font-size:48px;
line-height:50px;
} 
.swiper-slide span.subtitle{
margin:0px 0 10px 0;
font-size:20px;
line-height:20px;
} 
a.swiper_read_more{
padding:10px 20px;
margin:20px 0 0 0;
font-size:14px;
}
.close_popup_button{
width:80%;
}
#pages_maincontent{
top:50px; 
}
.navbarpages{
height:50px;
}
.nav_left_logo a img{
max-width:65%;
padding:10px 0 0 0;
}
.nav_right_button a{
width:30px;
padding:10px 15px 0 0;
}
ul.posts li{
padding:10px 0;
}
.post_date{
width:20%;
}
.post_title{
width:70%;
}
.post_title h2{
font-size:18px;
line-height:22px;
}
.post_title_single h2{
font-size:24px;
padding:15px;
line-height:28px;
}
}
