/*===============================================*/
/* MAIN COLOR */
/*===============================================*/
a, blockquote span {
    color: #B80000;
}
a.button_full, a.button_small, .call_button a{
    background-color:#B80000;
}
.button {
    border: 1px solid #B80000;
    color: #B80000;
}
.button.active {
    background: #B80000;
}
#pages_maincontent h3{
    color:#B80000;
}
.photo-categories a.active{
    background-color:#B80000;
}
.post_date{
    color:#B80000;
}
.list-block .swipeout-actions-left a,
.list-block .swipeout-actions-right a {
    background: #B80000;
}
.contactform input.form_submit, .loginform input.form_submit, .commentform input.form_submit{
    background-color:#B80000;
}
/*===============================================*/
/* HOME BG AND PAGES HEADER BG */
/*===============================================*/
.homepage{
    background: url(../../images/colors/moon15/bg.jpg) no-repeat center center;
    background-attachment:fixed;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.navbarpages{
    background:url(../../images/colors/moon15/header.jpg) no-repeat center center;
}
/*===============================================*/
/* MAIN NAV LINKS */
/*===============================================*/
.main-nav ul li{
    background: #562037;
    border-bottom:1px #692c46 solid;
}
.main-nav ul li a{
    color:#c6a0b1;
}
/*===============================================*/
/* POPUPS AND TOOLBAR */
/*===============================================*/
.popup, .page_content_menu{
    background: #B80000;
}
.popup-login, .popup-signup, .popup-forgot{
    background-color:#263239;
}
.toolbar:before {
    background-color: #B80000;
}
/*===============================================*/
/* LEFT AND RIGHT SLIDE PANEL */
/*===============================================*/
.panel {
    background:#071631;
}
.infoContent, .infoContent p {
    text-align: left;
}
.concert-panel {
    padding: 5px;
}
.concert-panel h2 {
    font-size: 30px;
    margin-top: 20px;
}
.concert-panel h3 {
    font-size: 23px;
    font-weight: 100;
    margin-top: 15px;
}
.finished {
    color: #8d9096;
}
.popup-artists img {
    width: 100% !important;
    height: auto !important;
}
.conserts ul li, ul.popular_posts li{
    border-bottom:1px #9b4d5b solid;
    font-size: 16px;
}
/* MENU OPENER ICON */
ul.toolbar_icons li.menuicon{
    background-color:#f9b517;
}

/* PANEL CLOSE BUTTON */
.close_popup_button a{
    background-color:#f9b517;
}